
.add-tier-btn
	border 1px solid black
	padding 7px 20px
	border-radius 3px
	background-color blue
	text-decoration none

	&, &:visited, &:active
		color azure

.index-cont
	margin-bottom 20px

@import 'new_tier_panel.styl'
@import 'breadcrumbs.styl'
@import 'menu_list.styl'
@import 'tier.styl'
