.tier
	
	#title
		margin-top 20px
		input
			margin-left 15px
			padding 5px 10px
			width 200px
			border 2px solid #CCC
			border-top none
			border-right none
	
	.fake-btn
		margin-top 25px

	.link-to
		border 1px solid black
		padding 7px 20px
		border-radius 3px
		background-color blue
		text-decoration none
			
		&, &:visited, &:active
			color azure
			
	.children
		h3
			margin-top 30px
	
	.add-tier-btn
		display inline-block
		margin-top 15px
		
	.menu_list
		.menu-tier
			strong
				padding-left 10px