<li>
	{{link-to 'Root' 'index'}}
</li>


{{#each allParents as |tier|}}
	<li>
		<span class="arrow">>></span>{{link-to tier.title 'tier' tier.id}}
	</li>
{{/each}}

<li>
	<span class="arrow">>></span><strong>{{node.title}}</strong>
</li>

{{yield}}
