<h2>Show all tiers (<a href="#nothing" {{action "resetDb"}}>reset All</a>)</h2>

<div class="index-cont">
	{{menu-list node=model.children removeTier='removeTier' moveTier='moveTier'}}

	<div class="button-cont">
		{{link-to '+ Add Tier' 'index.new' class="add-tier-btn"}}
	</div>
</div>

{{outlet}}
